<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}CanvasPath{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/sytles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/mdb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/signin.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename ='js/bootstrap.js')}}"></script>
    <link rel="shorcut icon" href="{{ url_for('static', filename='images/icon.jpeg')}}">
     <style>
        .my-custom-scrollbar {
        position: relative;
        height: 500px;
        overflow: auto;
        }
    </style>
</head>
<body>

<img src="{{ url_for('static', filename='images/b2.png') }}"
     style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1; '>
<div class="menu" style="opacity: 0.5; width:15%">
    <div class="menu__content" >
        <div class="text-center"  >
            <a href="/login/admin/">
                <h3 class="menu__title">Home</h3>
            </a>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/111.svg') }}"
                    style='width:100%; opacity: 0.5; '>
        </div>
        <div class="text-center">
                <a href="/login/admin/manage/">
                    <h3 class="menu__title">View Courses</h3>
                </a>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/111.svg') }}"
                    style='width:100%; opacity: 0.5; '>
        </div>
        <div class="text-center">
            <a href="/login/admin/add/">
                <h3 class="menu__title">Add Course</h3>
            </a>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/111.svg') }}"
                    style='width:100%; opacity: 0.5; '>
        </div>
        <div class="text-center">
            <a href="/login/admin/add_students/">
                <h3 class="menu__title">Add Student</h3>
            </a>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/111.svg') }}"
                    style='width:100%; opacity: 0.5; '>
        </div>
        <div class="text-center">
            <a href="/login/admin/remove/">
                <h4 class="menu__title">Remove Course</h4>
            </a>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/111.svg') }}"
                    style='width:100%; opacity: 0.5; '>
        </div>
        <div class="text-center">
            <a href="/logout/">
                <h3 class="menu__title">Log Out </h3>
            </a>
        </div>
    </div>
</div>
<img src="{{ url_for('static', filename='images/cp.svg') }}" style="position: fixed; left :15vh">
{% block body%}
{% endblock %}

</body>
</html>
