<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename ='js/bootstrap.js')}}"></script>
    <link rel="shorcut icon" href="{{ url_for('static', filename='images/icon.jpeg')}}">
</head>

<body>
    <img src="{{ url_for('static', filename='images/4.jpg') }}"
        style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>

    <div1 style="
              margin: 0;
              position: absolute;
              top: 50%;
              left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);"  >

        <img src="{{ url_for('static', filename='images/2.png')}}" class="rounded-circle" style=" height: 100px; width: 100px;" >

    </div1>

    <div class="modal-dialog" >
        <div class="modal-content" style=" background: #fefefe;right :5vh; width:600px; height:350px; font-family: 'Comic Sans MS';
                                   opacity: 0.0" id="demo">
            <div class="modal-header text-center">
                <h1 class="modal-title w-100"><strong>WELCOME!</strong></h1>
                <a href="/"><button type="button" class="close" data-dismiss="modal">&times;</button></a>
            </div>
                <form class="form-signin" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required
                           name= "username" value="{{ request.form.username }}">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
                           name="password" value="{{ request.form.password }}">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
                <p align="center">{{error}}</p>
        </div>
    </div>

    <script>
    var delayInMilliseconds = 1000; //1 second
    var delayInMilliseconds1 = 1050;
    var delayInMilliseconds2 = 1100;
    var delayInMilliseconds3 = 1150;
    var delayInMilliseconds4 = 1200;
    var delayInMilliseconds5 = 1250;
    var delayInMilliseconds6 = 1300;
    var delayInMilliseconds7 = 1350;
    var delayInMilliseconds8 = 1400;
    var delayInMilliseconds9 = 1450;
    var delayInMilliseconds10 = 1500;

    setTimeout(function() {
        var x = document.getElementById('demo');
        x.style.opacity = 0.05
    }, delayInMilliseconds);
    setTimeout(function() {
        var x = document.getElementById('demo');
        x.style.opacity = 0.1
    }, delayInMilliseconds1);
    setTimeout(function() {
        var x = document.getElementById('demo');
        x.style.opacity = 0.15
    }, delayInMilliseconds2);
    setTimeout(function() {
        var x = document.getElementById('demo');
        x.style.opacity = 0.2
    }, delayInMilliseconds3);
    setTimeout(function() {
        var x = document.getElementById('demo');
        x.style.opacity = 0.25
    }, delayInMilliseconds4);
    setTimeout(function() {
        var x = document.getElementById('demo');
        x.style.opacity = 0.3
    }, delayInMilliseconds5);
     setTimeout(function() {
        var x = document.getElementById('demo');
        x.style.opacity = 0.4
    }, delayInMilliseconds6);
    setTimeout(function() {
        var x = document.getElementById('demo');
        x.style.opacity = 0.5
    }, delayInMilliseconds7);
    setTimeout(function() {
        var x = document.getElementById('demo');
        x.style.opacity = 0.6
    }, delayInMilliseconds8);
    setTimeout(function() {
        var x = document.getElementById('demo');
        x.style.opacity = 0.7
    }, delayInMilliseconds9);
    setTimeout(function() {
        var x = document.getElementById('demo');
        x.style.opacity = 0.9
    }, delayInMilliseconds10);

</script>
</body>
</html>